google_deployment_accounts/ @mozilla/gcp-wg
google_fastly_waf/ @tibap @mozilla/gcp-wg
google_gke/ @ahoneiser @mikaeld @mozilla/gcp-wg
google_gke_tenant/ @mozilla/gcp-wg
google_workgroup/ @mozilla/gcp-wg
google_workload_identity/ @mozilla/gcp-wg
pagerduty_service/ @bwells-moz @cass-moz @mozilla/gcp-wg
pagerduty_team/ @bwells-moz @cass-moz @mozilla/gcp-wg
