# https://github.com/woodruffw/zizmor
name: GitHub Actions Security Analysis with Zizmor

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  zizmor:
    name: Zizmor latest via Cargo
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5
        with:
          persist-credentials: false

      - run: python -m pip install zizmor
        shell: bash
      - name: Run zizmor
        run: zizmor .
